<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WASA-BAE: Menu</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <link rel="stylesheet" href="/styles/menu.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|News+Cycle|Permanent+Marker|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>

  <body>

    <div class="jumbotron banner">
      <h1 id="banner-title">MENU</h1>
      <h1 class="add-confirmation">good choice...</h1>
    </div>


<div class="row">
<div class="col-sm-9">
<!-- left content goes below -->
<div class="container d-flex flex-wrap justify-content-center">
      <% for (item of items) { %>
        <div class="card m-2" style="width: 18rem;">
          <div class="menu-image">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1512132411229-c30391241dd8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="Card image cap">
            <h5 class="card-title menu-item"><%= item.item_name %></h5>
          </div>
          <div class="card-body">
             <p class="card-text menu-price d-inline">$<%= item.price %></p>
              <button class="float-right add-to-cart btn btn-primary menu-button"
              data-item-name="<%= item.item_name %>"
              data-item-price="<%= item.price %>"
              data-item-id="<%= item.id %>">+</button>

              <button class="float-right remove-from-cart btn btn-primary menu-button mr-2"
              data-item-name="<%= item.item_name %>"
              data-item-price="<%= item.price %>"
              data-item-id="<%= item.id %>">-</button>
          </div>
        </div>
      <% } %>

    </div>
<!-- left content goes above -->
 </div>



  <div class="col-sm-3">
<!-- right content goes below -->
<div class="card m-2 menu-sidebar" style="width: 18rem;">
          <div class="menu-image">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1468465369248-3054456ce11a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1953&q=80" alt="Card image cap">
            <h5 class="card-title menu-item">Checkout</h5>
          </div>
          <div class="card-body">
             <div class="row">
              <div class="col-8 items-selcted">
              <h4 class="your-cart-title">Your Cart</h1>
                <table class="cart etable table-light">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                  </tr>
             </thead>
             </table>
          </div>
            <form action="http://localhost:8080/menu/checkout">
              <input class="btn btn-primary" type="submit" value="Proceed to checkout"/>
            </form>
          </div>
        </div>
    </div>

<!-- flip card -->
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1468465369248-3054456ce11a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1953&q=80" alt="Card image cap">
    </div>
    <div class="flip-card-back">
        <form action="http://localhost:8080/menu/checkout">
          <input class="btn btn-primary" type="submit" value="Proceed to checkout"/>

        </form>
    </div>
  </div>
</div>

  </body>
</html>
